body {
    background-color: green;
}

h1 {
    justify-content: center;
    text-align: center;
    background-color: red;
}

select {
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

label {
    width: 100%;
    margin: 0;
    padding: 0;
}

input {
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: black;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#list_trades_headers {
    background-color: white;
}

#list_trades {
    background-color: grey;
}

#save-button {
    width: 100%;
    background-color: black;
    color: white;
}

#edit-button {
    width: 100%;
    background-color: gray;
    color: blue;
}
